[submodule "jameica"]
	path = jameica
	url = git@github.com:ruderphilipp/jameica.git
	branch = gradle
[submodule "lib/datasource"]
	path = lib/datasource
	url = git@github.com:ruderphilipp/datasource.git
	branch = gradle
[submodule "lib/util"]
	path = lib/util
	url = git@github.com:ruderphilipp/util.git
	branch = gradle
[submodule "plugins/hibiscus"]
	path = plugins/hibiscus
	url = git@github.com:ruderphilipp/hibiscus.git
	branch = gradle
